<mat-toolbar class="toolbar-logo">
    <img class="toolbar-logo__img" src="../assets/images/logo-color.png" alt="laveronesaonline.com" routerLink="/">
</mat-toolbar>

<mat-toolbar class="toolbar-menu">

    <div class="toolbar-menu__left"> </div>

    <div class="toolbar-menu__center">
        <button class="toolbar-menu__button" mat-button *ngFor="let btn of buttons" [routerLink]="[btn.link]"
            routerLinkActive="router-link-active">{{ btn.name | uppercase }}</button>
    </div>

    <div class="toolbar-menu__right">
        <!-- menu user -->
        <!-- <button mat-button class="toolbar-menu__button" [matMenuTriggerFor]="beforeMenu">Before</button> -->

        <img class="toolbar-menu__img-icon" matRipple src="../../assets/images/svg/user.svg"
            [matMenuTriggerFor]="beforeMenu">

        <!-- float cart -->
        <div class="menuCart">
            <img class="toolbar-menu__img-icon" matRipple src="../../assets/images/svg/cart-white.svg"
                [routerLink]="['/cart']">

            <div class="menuCart__content">
                <div class="menuCart__box-cart" #floatCart>

                    <!-- item row -->
                    <div class="menuCart__item" *ngFor="let item of itemsList">
                        <!-- item imagen -->
                        <div class="menuCart__image">
                            <img class="menuCart__img" [src]="item.itemCart.sUrlImagenes[0]">
                        </div>

                        <!-- item info -->
                        <div class="menuCart__info">
                            <div class="menuCart__title">
                                <span>{{ item.itemCart.sNombre }}</span>
                            </div>
                            <div class="menuCart__description">
                                <span class="menuCart__quantity mr-3">x{{ item.quantity }}</span>
                                <span class="menuCart__price">{{ item.itemCart.dPrecioUnitario | currency }}</span>
                            </div>
                        </div>

                        <!-- item delete -->
                        <div class="menuCart__delete">
                            <mat-icon color="primary" (click)="deleteItem(item.itemCart)">add_circle</mat-icon>
                        </div>
                    </div>

                    <!-- total -->
                    <div class="menuCart__total">
                        <span>Total:</span>
                        <span>{{ _cartService.getTotalAmount() | async  | currency }}</span>
                    </div>

                    <!-- actions -->
                    <div class="menuCart__actions">
                        <button mat-raised-button color="accent" routerLink="/cart">Ver carrito</button>
                        <button mat-raised-button color="primary" routerLink="/checkout">Pagar ahora</button>
                    </div>

                </div>
            </div>

        </div>


        <!-- float actions user -->
        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="openModal('signIn')">Iniciar sesión</button>
            <button mat-menu-item (click)="openModal('signUp')">Registrarse</button>
        </mat-menu>
    </div>

</mat-toolbar>



<!-- Toolbar mobile -->
<mat-toolbar class="toolbar-menu-responsive">

    <button mat-icon-button (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>

    <div class="toolbar-menu-responsive__actions">
        <img matRipple src="../../assets/images/svg/user.svg" [matMenuTriggerFor]="beforeMenu">
        <img matRipple src="../../assets/images/svg/cart-white.svg" [routerLink]="['/checkout']">

        <mat-menu #beforeMenu="matMenu" xPosition="before">
            <button mat-menu-item (click)="openModal('signIn')">Iniciar sesión</button>
            <button mat-menu-item (click)="openModal('signUp')">Registrarse</button>
        </mat-menu>
    </div>

</mat-toolbar>

<router-outlet></router-outlet>