@import "../shared/theme/global.scss";

.toolbar-logo {
  height: 100px;
  padding: 20px 20px;
  justify-content: space-between;

  &__img {
    height: 100%;
    cursor: pointer;
  }

  .input-group-prepend {
    width: 40px;
    background-color: $primary;
    align-items: center;
    color: #fff;
    justify-content: center;
  }
}

.toolbar-menu {
  background-color: $primary;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 50px;

  &__button {
    color: #fff;
  }


  &__left {
    width: 20%;
  }
  &__center {
    // width: 20%;
  }
  &__right {
    display: flex;
    justify-content: flex-end;
    width: 20%;
    position: relative;
  }
  &__img-icon {
    width: 30px;
    margin: 5px;
    cursor: pointer;
  }
}



.toolbar-menu-responsive {
  display: none;
  width: 100%;
  // display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: $primary;

  button {
    color: #fff;
    font-size: 30px;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    width: auto;

    img {
      width: 25px;
      margin: 0 8px;
      cursor: pointer;
    }
  }
}

.menuCart {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;

  &__content {
    width: 380px;
    // height: 100px;
    position: absolute;
    top: 53px;
    right: 0;
    box-shadow: 0 0 10px #222;
    background-color: #FFFFFF;
    z-index: 9;
    display: none;
    padding: 15px;
  }

  &__box-cart {
    width: 100%;
  }

  &:hover &__content {
    display: block;
    z-index: 99;

  }

  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    // border: 1px solid black;
    height: 80px;
    padding: 5px 0;
    width: 100%;
    border-bottom: 1px solid #ccc;

  }
  &__image {
    width: 30%;
    margin-right: 18px;
    height: 100%;
  }
  &__img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  &__info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__delete {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    mat-icon {
      transform: rotate(45deg);
      cursor: pointer;
    }
  }
  &__title {
    font-size: 14px;
    line-height: 16px;
    span {
      white-space: break-spaces;
    }
  }
  &__description {
    display: flex;
    flex-direction: row;
    font-size: 12;
    justify-content: flex-start;
  }
  &__quantity, &__price {
    font-size: 12px;
  }

  &__total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    span {
      font-family: "Alone" !important;
      font-size: 26px;
      font-weight: 700;
    }
  }

  &__actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    // margin-top: 10px;
    button {
      margin: 10px 0;
      width: 100%;
      border-radius: 50px;
    }
  }
}


.toolbar-menu-superior {
  background-color: $primary;
  height: 50px;
}


@media screen and (max-width: 800px) {
  .toolbar-menu-responsive {
    display: flex;
  }

  .toolbar-menu {
    display: none;
  }
}
