<div class="titulo titulos">
    <p>INICIO DE SESIÓN Y SEGURIDAD</p>
</div>

<div class="container__cards">

    <div class="cardtextual">


        <div class="cardtextual__arriba">
            <span>NOMBRE:</span>
        </div>

        <div class="cardtextual__abajo">

            <div class="cardtextual__txt">
                <span>PEDRO ROMERO HERRERA</span>
            </div>

            <div class="cardtextual__boton">
                <button mat-raised-button type="button" class="btn-modificar">MODIFICAR</button>

            </div>


        </div>
    </div>

    <div class="cardtextual">


        <div class="cardtextual__arriba">
            <span>CORREO ELECTRÓNICO:</span>
        </div>

        <div class="cardtextual__abajo">

            <div class="cardtextual__txt">
                <span>pedro@gmail.com</span>
            </div>

            <div class="cardtextual__boton">
                <button mat-raised-button type="button" class="btn-modificar">MODIFICAR</button>

            </div>


        </div>
    </div>

    <div class="cardtextual">

        <div class="cardtextual__arriba">
            <span>NÚMERO DE CELULAR:</span>
        </div>

        <div class="cardtextual__abajo">
            <span>044-55-31-79-88</span>
            <button mat-raised-button type="button" class="btn-modificar">MODIFICAR</button>


        </div>
    </div>

    <div class="cardtextual">

        <div class="cardtextual__arriba">
            <span>CONTRASEÑA:</span>
        </div>

        <div class="cardtextual__abajo">
            <span>*****</span>
            <button mat-raised-button type="button" class="btn-modificar">MODIFICAR</button>


        </div>
    </div>

    <button mat-raised-button type="button" class="btn-modificar">GUARDAR</button>


</div>

