@import "../../../shared/theme/global.scss";

/*
 $primary: #a6212c;
 $secondary: #961520;
 $extra: #bd9954;
*/

.titulo{
font-size: 60px;
color: $primary;
text-align: center;


& p{
    font-family: "Alone";
}  

@media screen and (max-width: 566px) {
    font-size: 40px;
}

}

.container__cards{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cardtextual{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 500px;
    margin: 3%;

    @media screen and (max-width: 500px) {
        width: 90%;
    }
    
}

.cardtextual__arriba, .cardtextual__abajo{
    width: 100%;
    padding: 2% 5%;
    border: 1px solid rgb(226, 226, 226);
    color: $primary;
    

}

.cardtextual__arriba{

    background-color: #edededad;
    & span{
        font-family: "Alone";
        font-size: 25px;
    }
}

.cardtextual__abajo{
    display: flex;
    justify-content: space-between;
    border-top: none;
    align-items: center;
    @media screen and (max-width: 500px) {
        flex-direction: column;
        padding: 5% 0;
        .cardtextual__txt{
            margin-bottom: 5%;

        }
        .btn-modificar{
            margin: 10% 0;
        }
    }
}

.btn-modificar {
    border: 1px solid $primary;
    background-color: #fff;
    color: $primary;
}