<div class="content-p">

    <div class="miWish__titulo">
        <p>MI WISHLIST</p>
    </div>

    <div class="miWish-Cont">
        <p class="miWish-Cont__txt">
            Productos a los que le diste
        </p>
        <div class="miWish-Cont__imgCora">
            <img src="../../../../assets/images/svg/favorito.svg" alt="" class="miWish-Cont__imgCora__img">
        </div>

    </div>

    <div class="tabla mt-3">

        <table class="tabla__table">

            <tr class="tabla__first-row">
                <th>IMAGEN</th>
                <th>PRODUCTO</th>
                <th> </th>
                <th>PRECIO</th>
                <th>
                    <button mat-icon-button type="button" style="vertical-align: middle;">
                        <mat-icon>clear</mat-icon>
                    </button>
                </th>
            </tr>
            <tr class="tabla__rows" *ngFor="let item of itemsDummy; let i = index">

                <td>
                    <div class="tabla__image-product">
                        <img [src]="item.img[0]" alt="">
                    </div>
                </td>

                <td class="tabla__description-row">
                    <p>
                        {{item.name}}
                    </p>
                    <p class="text-color">{{item.category}}</p>
                </td>

                <td class="tabla-celdaImg">
                    <div class="tabla-cart">
                        <a href="#!">
                            <img class="tabla-cart__imageCart" src="../../../../assets/images/png/iconos/cart.png"
                                alt="">
                        </a>
                    </div>

                   
                </td>

                <td class="tabla__precio">{{ '142' | currency: '$': '$'}}</td>

                <!-- <td> -->
                <!-- <mat-form-field appearance="fill" class="mt-2 tabla__select-precio" *ngIf="!selectNumer"> -->
                <!-- <mat-label>Cantidad</mat-label> -->
                <!-- <mat-select [formControlName]="'controlItem'+i" (selectionChange)="setQuantityItem(item.itemCart, $event.value)" > -->
                <!-- <mat-select [formControlName]="'controlItem'+i" >
                            <mat-option *ngFor="let count of counter | stockSelect: item.stock" [value]="count">{{count}}</mat-option>
                        </mat-select>
                    </mat-form-field> -->

                <!-- <div class="form-group tabla__select-precio"> -->
                <!-- <label for="sel1">Select :</label> -->
                <!-- <select class="form-control" [formControlName]="'controlItem'+i">
                            <option *ngFor="let count of counter | stockSelect: item.stock" [value]="count">{{count}}
                            </option>
                        </select>
                    </div>
                </td> -->

                <td class="tabla-celdaImg">
                    <button mat-icon-button type="button">
                        <mat-icon>clear</mat-icon>
                    </button>
                </td>
            </tr>
        </table>


        <div class="box-cart">
            <div class="box-cart__items-wrapper">
                <!-- items-list -->
                <div class="box-cart__item-wrapper" *ngFor="let item of itemsDummy; let i = index">
                    <div class="box-cart__image-product">
                        <img [src]="item.img[0]" alt="">
                    </div>

                    <div class="box-cart__description">
                        <div class="text mb-2 textoCeldaCategoria">
                            <p class="name">{{item.name}}</p>
                            <span>{{item.category}}</span>
                        </div>
                        <div class="stock">
                            <!-- <span class="mb-2">{{item.itemCart.available ? 'Disponible' : 'No Disponible'}}</span> -->
                            <div class="cantidad-content content mt-2">

                                <!-- <div class="form-group tabla__select-precio">
                                    <label for="sel1">Select :</label>
                                    <select class="form-control" [formControlName]="'controlItem'+i">
                                        <option *ngFor="let count of counter | stockSelect: item.stock" [value]="count">
                                            {{count}}</option>
                                    </select>
                                </div> -->
                                <button mat-raised-button color="primary" type="button" color="primary" class="miWish-contentBotton__boton2">Agregar al carrito</button>
                                <div class="delete-text">
                                    <span>Eliminar</span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- right total card -->
            <div class="box-cart__total-wrapper">
                <div class="box-total">
                    <div class="subtotal">
                        <!-- <span>Subtotal ({{itemsDummy.length}} productos): $1,200</span> -->
                        <button mat-raised-button color="primary">Ver carrito</button>
                    </div>
                </div>

            </div>

        </div>

    </div>


    <div class="miWish-contentBotton">
        <button mat-raised-button type="button" color="extra" class="miWish-contentBotton__boton1">Seguir
            comprando</button>

        <button mat-raised-button type="button" color="primary">Agregar todo al carrito</button>
    </div>

</div>