<div class="container" *ngIf="product">

    <!-- Gallery -->

    <gallery style="background-color: white;" [items]="images" thumbPosition="right" *ngIf="images.length > 0"></gallery>


    <!-- Descripcion -->

    <div class="description">
        <!-- producto -->
        <p class="description__name">{{ product.sNombre }}</p>
        <!-- precio -->
        <p class="description__price text-color">{{ product.dPrecioUnitario | currency }}</p>
        <!-- Nota -->
        <p class="description__alert text-color">Debes ser mayor de edad para ordenar este producto</p>
        <!-- categoría y rss -->
        <div class="description__category-rss">

            <div class="description__category">
                <img src="../../../../assets/images/svg/etiqueta.svg" class="img-category mr-2">
                <span>MANGO, VODKA, 750</span>
            </div>

            <div class="description__rss">
                <span class="mr-2"><b>Compartir:</b></span>
                <img src="../../../../assets/images/svg/fb.svg" class="img-category mr-2" alt="">
                <img src="../../../../assets/images/svg/Instagram.svg" class="img-category mr-2" alt="">
                <img src="../../../../assets/images/svg/Mail.svg" class="img-category mr-2 mailImg" alt="">
            </div>
        </div>

        <div class="description__minus">
            <span class="text-color mr-3">Cantidad</span>
            <div class="description__minus-box">
                <button mat-icon-button type="button" data-type="minus" data-field="quant[1]">
                    <mat-icon>chevron_left</mat-icon>
                </button>
                <input type="text" value="1" min="1" max="10" readonly="readonly">
                <button mat-icon-button type="button" data-type="plus" data-field="quant[1]">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </div>
        </div>

        <div class="description__actions">
            <button mat-raised-button color="primary" class="mr-4">Comprar ahora</button>
            <button mat-raised-button color="primary">Agregar al carrito</button>
        </div>

        <div class="description__question">
            <mat-form-field appearance="outline">
                <mat-label>¿Tienes una pregunta? ¡Escríbenos!</mat-label>
                <textarea matInput rows="3"></textarea>
            </mat-form-field>

            <div class="queation__action d-flex justify-content-end">
                <button mat-raised-button color="primary" disabled="disabled">Enviar pregunta</button>
            </div>
        </div>
    </div>


    <!-- slider -->
    <owl-carousel-o [options]="customOptions" class="carousel">
        
        <ng-container *ngFor="let slide of slidesStore">
            <ng-template carouselSlide [id]="slide.id">
                <mat-card class="carousel__card mat-elevation-z5">
                    <img [src]="slide.src">
                    <div class="carousel__icons">
                        <div class="carousel__text">
                            <span>Rose wines 750 ml</span>
                            <div class="carousel__icons-box">
                                <!-- price -->
                                <span class="text-color">$241.00</span>
                                <!-- images -->
                                <div class="carousel__images">
                                    <img matTooltip="Agregar whishlist" src="../../../../assets/images/svg/favorito.svg" alt="" class="mr-2">
                                    <img matTooltip="Agregar al carrito" src="../../../../assets/images/svg/cart.svg" alt="" class="mr-2">
                                    <img matTooltip="Agregar Whishlist" src="../../../../assets/images/svg/etiqueta.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </ng-template>
        </ng-container>

    </owl-carousel-o>

</div>