<div class="container main">

    <!-- <div class="main__btn-box"> -->
        <button class="main__btn-close" mat-dialog-close mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    <!-- </div> -->

    <div class="main__title">
        <h4>INICIAR SESIÓN</h4>
    </div>

    <div class="form-grupo main__form" [formGroup]="form">

        <mat-form-field>
            <mat-label>Correo</mat-label>
            <input matInput type="text" formControlName="sCorreoElectronico">
            <mat-error *ngIf="correo.errors?.required">Campo obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput type="text" formControlName="sPassword">
            <mat-error *ngIf="password.errors?.required">Campo obligatorio</mat-error>
        </mat-form-field>

        <button class="btn-create" mat-raised-button color="primary" (click)="ingresar()">Ingresar</button>

    </div>

    <div class="row main__btn-actions">
        <span>Regístrate</span>
        <span>¿Olvidaste tu contraseña?</span>
    </div>

</div>
