@import '../../../shared/theme/global.scss';

.principal {
    margin: 5% auto;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.information {
    width: 45%;

    &__text-direction {
        text-align: center;
    }

    mat-divider  {
        border: 1px solid $primary;
    }
}

.order {
    height: 100%;
    width: 45%;
    border: 30px solid transparent;
    border-image-slice: 20;
    border-image-width: 20;
    border-image-outset: 1;
    border-image: url('../../../../assets/images/banner-vertical.png') 30 round;
    background-color: #FEF9E7;
    padding: 0 25px;
    // background-image: url('../../../../assets/images/banner-vertical.png');
    // background-position: center;
    // background-size: cover;

    mat-divider  {
        border: 1px solid $primary;
    }

    &__background {
        width: 100%;
        transform: rotate(90deg);
    }

    &__content {
        padding: 2%;
    }

    &__list mat-list-item {
        border-bottom: 0.5px solid $primary;
        font-size: $font-sm;
    }
    
    &__header-list {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }

    &__list-item-total {
        border: none !important;
    }

    &__card-alert {
        padding: 20px;
        border: 1px solid $extra;
        margin: 50px 0;

        span {
            font-size: $font-sm;
        }
    }

    &__actions {

        button {
            border-radius: 50px;
            width: 100%;
            margin-bottom: 50px;
        }
    }
}




::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    /*change color of label*/
    color: $primary !important;
    font-size: $font-sm;
}



// ***************
// Media queries
// ***************

@media screen and (max-width: 1000px) {

    .information {
        width: 40%;
    }
    
    .order {
        width: 55%;
    }
    
}

@media screen and (max-width: 775px) {

    .information {
        width: 100%;
    }
    
    .order {
        width: 100%;
    }

    .principal {
        flex-direction: column;
    }

}
