<div class="carusel__contenedor">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../../assets/images/banner-about-us-horizontal.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/images/banner-about-us-horizontal.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/images/banner-about-us-horizontal.png" class="d-block w-100" alt="...">
      </div>
    </div>

  </div>

</div>


<div class="banner1">


  <div class="banner1__titulo">
    <p class="banner1__txt titulos">
      SIGUE LOS PASOS
    </p>
    <p class="banner1__txt titulos">
      ¡ES MUY SENCILLO!
    </p>
  </div>

  <div class="banner1__cards">
    <div class="banner1__cartas">
      <div class="banner1__txtCard">
        <p>
          Selecciona los productos que deseas comprar
        </p>
      </div>
      <div class="banner1__imgCards">
        <img src="../../../../assets/images/png/iconos/paso1.png" alt="paso 1">
      </div>
    </div>

    <div class="banner1__cartas">
      <div class="banner1__txtCard">
        <p>
          Agrega los productos al carrito y todo lo que desees
        </p>
      </div>
      <div class="banner1__imgCards">
        <img src="../../../../assets/images/png/iconos/paso2.png" alt="paso 1">
      </div>
    </div>

    <div class="banner1__cartas">
      <div class="banner1__txtCard">
        <p class="">
          Ingresa tus datos y programa tu envio
        </p>
      </div>
      <div class="banner1__imgCards">
        <img src="../../../../assets/images/png/iconos/paso3.png" alt="paso 1">
      </div>
    </div>

    <div class="banner1__cartas">
      <div class="banner1__txtCard">
        <p>
          Recibe un aviso el dia de la entrega y LISTO!
        </p>
      </div>
      <div class="banner1__imgCards">
        <img src="../../../../assets/images/png/iconos/paso4.png" alt="paso 1">
      </div>
    </div>

  </div>

  <div class="banner1__botton">
    <button mat-raised-button type="button" color="primary">Empezar</button>
  </div>
</div>


<div class="banner2">
  <div class="banner2__logoVeronesa">
    <img src="../../../../assets/images/logo-blanco.png" class="banner2__img" alt="Logo">
  </div>
  <div class="banner2__txt">
    <p>Somos una distribuidora con mas de XX años de experiencia.
      Buscamos expandir nuestras fronteras, que nuestro excelente servicio, llegue a mas mexicanos, disfrutando
      de las mejores marcas, a un precio accesible y desde la comodidad de tu casa</p>
  </div>
</div>

<div class="banner3">
  <div class="banner3__titulo titulos">
    <p>PARA LA OCASIÓN</p>
  </div>

  <div class="banner3__cards">

    <div class="banner3__fila1">

      <div class="text-white banner3__carta">
        <img src="../../../../assets/images/Bodasy15años_Color.jpg" class="card-img" alt="...">
        <div class="card-img-overlay banner3__txtCarta">
          <p class="card-text">Bodas y xv años</p>
        </div>
      </div>

      <div class="text-white banner3__carta">
        <img src="../../../../assets/images/Fiestas_Color.jpg" class="card-img" alt="...">
        <div class="card-img-overlay banner3__txtCarta">
          <p class="card-text">Fiestas</p>
        </div>
      </div>

    </div>


    <div class="banner3__fila1">

      <div class="text-white banner3__carta">
        <img src="../../../../assets/images/Eventos_Color.jpg" class="card-img" alt="...">
        <div class="card-img-overlay banner3__txtCarta">
          <p class="card-text">Eventos</p>
        </div>
      </div>

      <div class="text-white banner3__carta">
        <img src="../../../../assets/images/Cenas_Black_Color.jpg" class="card-img" alt="...">
        <div class="card-img-overlay banner3__txtCarta">
          <p class="card-text">Cenas</p>
        </div>
      </div>

    </div>

  </div>
</div>



<div class="banner4">
  <div class="banner4__titulo">
    <p class="banner4__txt">
      También damos servicios especializados a
    </p>
    <p class="banner4__txtEspecial">
      BARES Y RESTAURANTES
    </p>
    <p class="banner4__txt">
      si estas interesado
    </p>
    <p class="banner4__txt">
      ¡Contáctanos!
    </p>
  </div>
</div>


<div class="banner5">
  <div class="banner5__titulo titulos">
    <p>
      Si tienes duda o buscas un servicio especializado ¡pregunta!
    </p>
  </div>

  <div class="banner5__form">
    <div class="banner5__formizq">

      <div class="banner5_btn">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="banner5_btn">
        <mat-form-field appearance="outline">
          <mat-label>Teléfono</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
      <div class="banner5_btn">
        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input matInput>
        </mat-form-field>
      </div>

    </div>

    <div class="banner5__formder">
      <mat-form-field appearance="outline">
        <mat-label>Pregunta</mat-label>
        <textarea rows="11" matInput></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="banner5__botton">
    <button mat-raised-button type="button" class="banner5__btn-contacto">Contáctanos</button>
  </div>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>