
<div class="container__mainSUP">


  <div class="homePrin">
    <div class="btnHomeTwo">
      <a class="imgBtn" title="PAQUETES" href="https://opssim.com/paquetes">
        <img src="assets/images/boton_home.png" alt="home">
      </a>
    </div>
    <div class="imgsHome">
      <div class="mujerImgHome">
        <a class="mujerImg" title="MUJER" href="https://opssim.com/goggles">
          <img src="assets/images/mujer.png" alt="lentes mujer">
        </a>
      </div>
      <div class="hombreImgHome">
        <a title="HOMBRE" href="https://opssim.com/goggles">
          <img src="assets/images/hombre.png" alt="lentes hombre">
        </a>
      </div>
    </div>
  </div>

  <!--           <img src="assets/images/banner-about-us-horizontal.png" class="d-block w-100" alt="...">
 -->
<!-- ----------------------- carousel------------------------------ -->


  <div class="carusel__contenedor">

    <div class="titu">
      <p>Pasos para elegir lentes</p>
    </div>



<!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../.././.../../../assets/images/imagenes-carousel/0000242_instruccionesA-02.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../.././.../../../assets/images/imagenes-carousel/0000245_instruccionesA-03.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../.././.../../../assets/images/imagenes-carousel/0000246_instruccionesA-04.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../.././.../../../assets/images/imagenes-carousel/0000247_instruccionesA-05.jpeg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../../.././.../../../assets/images/imagenes-carousel/0000248_instruccionesA-06.jpeg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->


<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/imagenes-carousel/0000242_instruccionesA-02.png" alt="Random first slide">
    </div>
    
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/imagenes-carousel/0000245_instruccionesA-03.png" alt="Random second slide">
    </div>
    
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/imagenes-carousel/0000246_instruccionesA-04.png" alt="Random third slide">
    </div>
    
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/imagenes-carousel/0000247_instruccionesA-05.png" alt="Random third slide">
    </div>
    
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="assets/images/imagenes-carousel/0000248_instruccionesA-06.png" alt="Random third slide">
    </div>
   
  </ng-template>
</ngb-carousel>

</div>
<!-- .----------------------------- botones sociales -->
  <div class="socialMedia">
    <div class="faceSocial">
      <a class="icoFace" href="https://www.facebook.com/8Opsim/" target="_blank">
        <img src="assets/images/png/iconos/ico-fb.png" alt="Facebook">
      </a>
    </div>
    <div class="whaSocial">
      <a class="whaIco"
        href="https://api.whatsapp.com/send?phone=+525543496097&amp;text=Hola!%20estoy%20interesado(a)%20en%20adquirir%20uno%20de%20sus%20productos"
        target="_blank">
        <img src="assets/images/png/iconos/ico-wa.png" alt="Whatsapp">
      </a>
    </div>
    <div class="instSocial">
      <a class="icoFace" href="https://www.instagram.com/opticas_similares/" target="_blank">
        <img src="assets/images/png/iconos/insta.png" alt="Instagram">
      </a>
    </div>
    <div class="youtSocial">
      <a class="icoFace" href="https://www.youtube.com/channel/UC3rEj3KxkujT-pIrb8n7oeg" target="_blank">
        <img src="assets/images/png/iconos/youtube.png" alt="Youtube">
      </a>
    </div>
  </div>

  <div class="carrito">
    <div class="txtCarri">
      <span>Agenda tu examen a domicilio/ sucursal</span>
    </div>
    <!-- <div class="icoCarri"> -->
      <img src="assets/images/png/iconos/carrito.png" alt="">
    <!-- </div> -->
  </div>

  <!-- <div class="carousel-product">
    <carousel-products></carousel-products>
  </div> -->


</div>



<!-------------------------------- FOOTER----------------------- -->


<div class="footer">
  <app-footer> </app-footer>
</div>