<div class="ocasion__contenedor">



    <div class="ocasion__titulo">
        <p>PARA LA OCASIÓN</p>
    </div>

    <div class="ocasion__txt">
        <p>
            La Veronesa busca la mejor experiencia para ti, es por eso que generamos una selección especial,
            las mejores recomendaciones para cada momento que tengas lo festejemos juntos
        </p>
    </div>

    <div class="ocasion__cards">

        <div class="ocasion__primeraFila">
            <div class="ocasion__card">
                <img src="../../../../assets/images/Bodasy15años_Color.jpg" alt="">
                <p class="ocasion__cardTxt">
                    Bodas y xv años
                </p>
            </div>

            <div class="ocasion__card">
                <img src="../../../../assets/images/Fiestas_Color.jpg" alt="">
                <p class="ocasion__cardTxt">
                    Fiestas
                </p>
            </div>
        </div>



    </div>




</div>
