<div class="ocasion__contenedor">



    <div class="ocasion__titulo">
        <p>SUCURSALES</p>
    </div>

    <!-- <div class="ocasion__txt">
        <p class="ocasion__txt__parrafo">
            La Veronesa busca la mejor experiencia para ti, es por eso que generamos una selección especial,
            las mejores recomendaciones para cada momento que tengas lo festejemos juntos
        </p>
    </div> -->

    <!-- <div class="ocasion__contenedorDeCartas">

        <div class="ocasion__primeraFila">

        
        <div class="card ocasion__carta">
            <img src="../../../../assets/images/Bodasy15años_Color.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                Bodas y XV años      
            </p>
            </div>
          </div>

          <div class="card ocasion__carta">
            <img src="../../../../assets/images/Fiestas_Color.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                Fiestas      
            </p>
            </div>
          </div>

        </div>


        <div class="ocasion__segundaFila">

        
            <div class="card ocasion__carta">
                <img src="../../../../assets/images/Eventos_Color.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                    Eventos      
                </p>
                </div>
              </div>
    
              <div class="card ocasion__carta">
                <img src="../../../../assets/images/Cenas_Black_Color.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                    Cenas      
                </p>
                </div>
              </div>
    
            </div>

            


    </div>

    <div class="ocasion__titulo">
        <p>
            ¡DISFRUTA DE NUESTRAS PROMOCIONES!
        </p>
    </div> -->

    <div class="container-sucursales">
      <div class="box-veracruz">
      <div class="content-box">
      <div class="container-content-box">
      <div class="icon"><img src="../../../../assets/images/sucursales/location.png" alt="" /></div>
      <span class="p-title" style="color: #45c1cd;">Sucursal Veracruz</span>
      <p>Chedraui Coyol, Calle J. B. Lobos Poniente 101, El Coyol, 91713 Veracruz, Ver.</p>
      <p><strong>Teléfono:</strong> 22 9972 8228</p>
      <p><strong>Correo:</strong> opticasimilares@opssim.com</p>
      </div>
      </div>
      <div class="box-map">
      <div class="map"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.560051528756!2d-96.15814368433855!3d19.170725887033655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c343fcf21ff2f7%3A0x2d0866b57c86c9eb!2sChedraui!5e0!3m2!1ses!2smx!4v1575795712574!5m2!1ses!2smx" width="500px" height="350px" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
      </div>
      </div>
      <!-- Tabasco -->
      <div class="box-tabasco">
      <div class="content-box">
      <div class="container-content-box">
      <div class="icon"><img src="../../../../assets/images/sucursales/location.png" alt="" /></div>
      <span class="p-title" style="color: #45c1cd;">Sucursal Tabasco</span>
      <p>Plaza Deportiva, Avenida, Heroico Colegio Militar S/N, Atasta, 86100 Villahermosa, Tabasco.</p>
      <p><strong>Teléfono:</strong> 99 3315 4983</p>
      <p><strong>Correo:</strong> opticasimilares@opssim.com</p>
      </div>
      </div>
      <div class="box-map">
      <div class="map"><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1897.4795151649716!2d-92.94324434172675!3d17.98064299693142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85edd7821bb9218f%3A0xae667bbc508be064!2sPlaza%20Deportiva!5e0!3m2!1ses!2smx!4v1575795867344!5m2!1ses!2smx" width="500px" height="350px" frameborder="0" allowfullscreen="allowfullscreen"></iframe></div>
      </div>
      </div>
      </div>
      <div class="container-fotos">
      <div class="image-veracruz"><img src="../../../../assets/images/sucursales/SUCURSAL2_1000.jpeg" alt="opssim veracruz" />
      <h3 style="color: #45c1cd;">Sucursal Veracruz</h3>
      </div>
      <div class="image-tabasco"><img src="../../../../assets/images/sucursales/SUCURSAL1_1000.jpeg" alt="opssim tabasco" />
      <h3 style="color: #45c1cd;">Sucursal Tabasco</h3>
      </div>
      </div>


</div>
