<div class="ocasion__contenedor">



    <div class="ocasion__titulo">
        <p>PARA LA OCASIÓN</p>
    </div>

    <div class="ocasion__txt">
        <p>
            La Veronesa busca la mejor experiencia para ti, es por eso que generamos una selección especial,
            las mejores recomendaciones para cada momento que tengas lo festejemos juntos
        </p>
    </div>

    <div class="ocasion__contenedorDeCartas">

        <div class="ocasion__primeraFila">

        
        <div class="card ocasion__carta">
            <img src="../../../../assets/images/Bodasy15años_Color.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                Bodas y XV años      
            </p>
            </div>
          </div>

          <div class="card ocasion__carta">
            <img src="../../../../assets/images/Fiestas_Color.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">
                Fiestas      
            </p>
            </div>
          </div>

        </div>


        <div class="ocasion__segundaFila">

        
            <div class="card ocasion__carta">
                <img src="../../../../assets/images/Eventos_Color.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                    Eventos      
                </p>
                </div>
              </div>
    
              <div class="card ocasion__carta">
                <img src="../../../../assets/images/Cenas_Black_Color.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">
                    Cenas      
                </p>
                </div>
              </div>
    
            </div>

            


    </div>

    <div class="ocasion__titulo">
        <p>
            ¡DISFRUTA DE NUESTRAS PROMOCIONES!
        </p>
    </div>




</div>
