@import "../../../shared/theme/global.scss";

/*
 $primary: #a6212c;
 $secondary: #961520;
 $extra: #bd9954;
*/


.ocasion__contenedor{
    padding: 0 5% 5% 5%;
    text-align: center;
}

.ocasion__contenedorDeCartas {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
}

.ocasion__primeraFila, .ocasion__segundaFila{
   display: flex;
   justify-content: center;
   margin-bottom: 2%;
}


.ocasion__carta{
    width: 320px;
    border: none;
    text-align: center;
    font-size: 22px;
    color: $primary;
    margin: 0 1%

}

.ocasion__titulo{
    font-size: 70px;
    margin: 5% 0;
    color: $primary;
    text-align: center;
    margin-top: 5%;


    & p{
        font-family: "Alone";
    }
}


.ocasion__txt{
    margin: 5% 0;
    color: $primary;
    font-size: medium;
    font-weight: 600;
    display: flex;
    justify-content: center;

    &__parrafo{
        width: 670px;
    }
}

@media only screen and (max-width: 760px) {
    .ocasion__txt{
        font-size: 12px;
    }
}


@media only screen and (max-width: 600px) {
    // .ocasion__carta{
    //     font-size: 20px;
    //     width: 80%;
    // }

    // .ocasion__primeraFila, .ocasion__segundaFila{
    //     flex-direction: column;
    //     align-items: center;
    //  }

}

@media only screen and (max-width: 570px) {
    .ocasion__txt{
        font-size: 10px;
    }
}


@media only screen and (max-width: 566px) {
    .ocasion__carta{
        font-size: 18px;
    }

    .ocasion__titulo{
        font-size: 50px;
    }

    

}

@media only screen and (max-width: 482px) {
    .ocasion__carta{
        font-size: 14px;
    }
}


@media only screen and (max-width: 450px) {
    // .ocasion__titulo{
    //     font-size: 22px;
    // }

    
}

