<div class="miCuenta__contenedor">

    <div class="miCuenta__titulo">
        <p>MI CUENTA</p>
    </div>

    <div class="miCuenta__primeraFila">
        <a class="miCuenta__selector" href="#!">
            <div class="miCuenta__contCard">

                <div class="miCuenta__Contimg">
                    <img class="miCuenta__img" src="../../../../assets/images/wetransfer-12233d/PEDIDOS.svg" alt="">
                </div>

                <div class="miCuenta__txt">
                    <p>MIS PEDIDOS</p>
                </div>

            </div>
        </a>
        <a class="miCuenta__selector" href="#!">
            <div class="miCuenta__contCard">

                <div class="miCuenta__Contimg">
                    <img class="miCuenta__img" src="../../../../assets/images/wetransfer-12233d/DIRECCION.svg" alt="">
                </div>

                <div class="miCuenta__txt">
                    <p>MIS DIRECCIONES</p>
                </div>

            </div>
        </a>

    </div>

    <div class="miCuenta__segundaFila">
        <a class="miCuenta__selector" href="#!">
            <div class="miCuenta__contCard">

                <div class="miCuenta__Contimg">
                    <img class="miCuenta__img" src="../../../../assets/images/wetransfer-12233d/WISHLIST_2.svg" alt="">
                </div>

                <div class="miCuenta__txt">
                    <p>MI WISHLIST</p>
                </div>

            </div>
        </a>

        <a class="miCuenta__selector" href="#!">
            <div class="miCuenta__contCard">

                <div class="miCuenta__Contimg">
                    <img class="miCuenta__img" src="../../../../assets/images/wetransfer-12233d/FACURA.svg" alt="">
                </div>

                <div class="miCuenta__txt">
                    <p>DATOS FISCALES
                    </p>
                </div>

            </div>
        </a>
    </div>

    <div class="miCuenta__terceraFila">
        <a class="miCuenta__selector" href="#!">
            <div class="miCuenta__contCard">

                <div class="miCuenta__Contimg">
                    <img class="miCuenta__img" src="../../../../assets/images/wetransfer-12233d/SEGURIDAD.svg" alt="">
                </div>

                <div class="miCuenta__txt">
                    <p>SEGURIDAD</p>
                </div>

            </div>
        </a>
        <a class="miCuenta__selector" href="#!">
            <div class="miCuenta__contCard">

                <div class="miCuenta__Contimg">
                    <img class="miCuenta__img" src="../../../../assets/images/wetransfer-12233d/LOGOUT.svg" alt="">
                </div>

                <div class="miCuenta__txt">
                    <p>CERRAR SESIÓN</p>
                </div>

            </div>
        </a>
    </div>
</div>