<div class="miCuenta__contenedor">

    <div class="miCuenta__primeraFila">
        <div class="miCuenta__contCard">

            <div class="miCuenta__Contimg">
                <img class="miCuenta__img" src="../../../../assets/images/png/iconos/cart.png" alt="">
            </div>

            <div class="miCuenta__txt">
                <p>MIS PEDIDOS</p>
            </div>

        </div>

        <div class="miCuenta__contCard">

            <div class="miCuenta__Contimg">
                <img class="miCuenta__img" src="../../../../assets/images/png/iconos/cart.png" alt="">
            </div>

            <div class="miCuenta__txt">
                <p>MIS PEDIDOS</p>
            </div>

        </div>
        
       
    </div>

    <div class="miCuenta__segundaFila">
        <div class="miCuenta__contCard">

            <div class="miCuenta__Contimg">
                <img class="miCuenta__img" src="../../../../assets/images/png/iconos/cart.png" alt="">
            </div>

            <div class="miCuenta__txt">
                <p>MIS PEDIDOS</p>
            </div>

        </div>

        <div class="miCuenta__contCard">

            <div class="miCuenta__Contimg">
                <img class="miCuenta__img" src="../../../../assets/images/png/iconos/cart.png" alt="">
            </div>

            <div class="miCuenta__txt">
                <p>MIS PEDIDOS</p>
            </div>

        </div>

    </div>

    <div class="miCuenta__terceraFila">
        <div class="miCuenta__contCard">

            <div class="miCuenta__Contimg">
                <img class="miCuenta__img" src="../../../../assets/images/png/iconos/cart.png" alt="">
            </div>

            <div class="miCuenta__txt">
                <p>MIS PEDIDOS</p>
            </div>

        </div>

        <div class="miCuenta__contCard">

            <div class="miCuenta__Contimg">
                <img class="miCuenta__img" src="../../../../assets/images/png/iconos/cart.png" alt="">
            </div>

            <div class="miCuenta__txt">
                <p>MIS PEDIDOS</p>
            </div>

        </div>
    </div>
</div>