@import "../../../shared/theme/global.scss";

/*
 $primary: #a6212c;
 $secondary: #961520;
 $extra: #bd9954;
*/


.miCuenta__contenedor{
    padding: 0 5% 0 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.miCuenta__titulo{
    font-size: xx-large;
    margin-top: 5%;
    color: $primary;
}

.miCuenta__selector{
    text-decoration: none;
}

.miCuenta__primeraFila,
.miCuenta__segundaFila,
.miCuenta__terceraFila{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.miCuenta__contCard{
    display: flex;
    flex-direction: column;
}

.miCuenta__Contimg{
    background-color: $primary;
    padding: 10%;
}

.miCuenta__img{
    width: 70%;
}

.miCuenta__txt{
    color: $primary;
    margin-top: 3%;
    font-size: 22px;
}


@media only screen and (max-width: 750px) {
    .miCuenta__primeraFila,
    .miCuenta__segundaFila,
    .miCuenta__terceraFila{
        flex-direction: column;
    }

    .miCuenta__txt{
        font-size: x-large;
    }


}


@media only screen and (max-width: 450px) {

    .miCuenta__titulo{
        font-size: 22px;
    }



    .miCuenta__txt{
        font-size: 10px;
    }
}