<div class="titulo titulos">
    <p>MIS DIRECCIONES</p>
</div>

<div class="container__cards">

    <div class="cardtextual">


        <div class="cardtextual__arriba">
            <span>PREDETERMINADO</span>
            <span>CASA</span>
        </div>

        <div class="cardtextual__abajo">

            <div class="cardtextual__abajo__izq">
                <span class="cardtextual__abajo__titu">ENVIAR A</span>
                <span>PEDRO ROMERO HERRERA</span>
                <span class="cardtextual__abajo__titu">DIRECCIÓN</span>
                <div class="cardtextual__abajo__izq__dir">
                    <span>avenida lote manzano fgsdgsdgsdf gsdfgsdf sdfgdfgdfsd fsdfsgsdgsdfgsdg sdfgsdfgsdf gsdf</span>
                    <span>BOSQUES PERINORTE</span>
                    <span>CUATITLAN IZCA</span>
                    <span>Mexico</span>
                </div>
            </div>

            <div class="cardtextual__abajo__der">
                <span class="cardtextual__abajo__titu">NÚMERO DE TELÉFONO:</span>

                <span>044-55-41-35-79-88</span>

                <div class="cardtextual__abajo__der__boton">
                    <button mat-raised-button type="button" class="btn-modificar">
                        EDITAR
                    </button>

                    <button mat-raised-button type="button" class="btn-modificar">
                        ELIMINAR
                    </button>

                </div>

            </div>
        </div>
    </div>



</div>