<div class="titulo titulos">
    <p>MIS DIRECCIONES</p>
</div>

<div class="container__cards">

    <div class="container__btn-crear text-right">
        <button mat-raised-button color="primary" (click)="openDialog()">Nueva dirección</button>
    </div>

    <div class="cardtextual" *ngFor="let address of adressList">


        <div class="cardtextual__arriba">
            <span>PREDETERMINADO</span>
            <span>CASA</span>
        </div>

        <div class="cardtextual__abajo">

            <div class="cardtextual__abajo__izq">
                <span class="cardtextual__abajo__titu">ENVIAR A</span>
                <span>PEDRO ROMERO HERRERA</span>
                <span class="cardtextual__abajo__titu">DIRECCIÓN</span>
                <div class="cardtextual__abajo__izq__dir">
                    <span>{{ address.sCalle }} {{ address.sNumeroInterior }}, {{ address.sNumeroExterior }}</span>
                    <span>{{ address.sColonia }}</span>
                    <span>{{ address.sDelegacion }}</span>
                    <span>{{ address.sEstado }}, {{ address.iCodigoPostal }}</span>
                </div>
            </div>

            <div class="cardtextual__abajo__der">
                <span class="cardtextual__abajo__titu">NÚMERO DE TELÉFONO:</span>

                <span>044-55-41-35-79-88</span>

                <div class="cardtextual__abajo__der__boton">
                    <button mat-raised-button type="button" class="btn-modificar">
                        EDITAR
                    </button>

                    <button mat-raised-button type="button" class="btn-modificar">
                        ELIMINAR
                    </button>

                </div>

            </div>
        </div>
    </div>



</div>