<div class="titulo titulos">
    <p>MIS DIRECCIONES</p>
</div>

<div class="container__cards">

    <div class="cardtextual">


        <div class="cardtextual__arriba">
            <span>PREDETERMINADO</span>
            <span>CASA</span>
        </div>

        <div class="cardtextual__abajo">

            <div class="cardtextual__abajo__izq">
                <span class="cardtextual__abajo__titu">ENVIAR A</span>
                <span>PEDRO ROMERO HERRERA</span>
                <span class="cardtextual__abajo__titu">DIRECCIÓN</span>
                <div class="cardtextual__abajo__izq__dir">
                    <span>avenida lote manzano fgsdgsdgsdf gsdfgsdf sdfgdfgdfsd fsdfsgsdgsdfgsdg sdfgsdfgsdf gsdf</span>
                    <span>BOSQUES PERINORTE</span>
                    <span>CUATITLAN IZCA</span>
                    <span>Mexico</span>
                </div>
            </div>

            <div class="cardtextual__abajo__der">
                <span class="cardtextual__abajo__titu">NÚMERO DE TELÉFONO:</span>

                <span>044-55-41-35-79-88</span>

                <div class="cardtextual__abajo__der__boton">
                    <button mat-raised-button type="button" class="btn-modificar">
                        EDITAR
                    </button>

                    <button mat-raised-button type="button" class="btn-modificar">
                        ELIMINAR
                    </button>

                </div>

            </div>
        </div>
    </div>

    <!-- <div class="cardtextual">
        <div class="cardtextual__arriba">
            <span>CORREO ELECTRÓNICO:</span>
        </div>

        <div class="cardtextual__abajo">

            <div class="cardtextual__txt">
                <span *ngIf="!Fcorreo">pedro@gmail.com</span>

                <div class="cardtextual__formField" *ngIf="Fcorreo">
                    <mat-form-field appearance="fill">
                        <input matInput #inputMail>
                    </mat-form-field>
                </div>
            </div>

            <div class="cardtextual__boton">
                <button mat-raised-button type="button" class="btn-modificar" (click)="editField('Fcorreo', 'inputMail')">
                    {{ Fcorreo ? 'CANCELAR' : 'MODIFICAR'}}
                </button>

            </div>
        </div>
    </div>

    <div class="cardtextual">
        <div class="cardtextual__arriba">
            <span>NÚMERO DE CELULAR:</span>
        </div>

        <div class="cardtextual__abajo">

            <div class="cardtextual__txt">
                <span *ngIf="!Ftelefono">5534677845</span>

                <div class="cardtextual__formField" *ngIf="Ftelefono">
                    <mat-form-field appearance="fill">
                        <input matInput #inputTelefono>
                    </mat-form-field>
                </div>
            </div>

            <div class="cardtextual__boton">
                <button mat-raised-button type="button" class="btn-modificar" (click)="editField('Ftelefono', 'inputTelefono')">
                    {{ Ftelefono ? 'CANCELAR' : 'MODIFICAR'}}
                </button>

            </div>
        </div>
    </div>

    <div class="cardtextual">
        <div class="cardtextual__arriba">
            <span>CONTRASEÑA:</span>
        </div>

        <div class="cardtextual__abajo">

            <div class="cardtextual__txt">
                <span *ngIf="!Fpassword">*******</span>

                <div class="cardtextual__formField" *ngIf="Fpassword">
                    <mat-form-field appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input matInput #inputPassword>
                    </mat-form-field>
                </div>
            </div>

            <div class="cardtextual__boton">
                <button mat-raised-button type="button" class="btn-modificar" (click)="editField('Fpassword', 'inputPassword')">
                    {{ Fpassword ? 'CANCELAR' : 'MODIFICAR'}}
                </button>

            </div>
        </div>
    </div>

    <button mat-raised-button type="button" class="btn-modificar">GUARDAR</button> -->


</div>