<div class="titulo">
    <p>MIS PEDIDOS</p>
</div>


<div class="cardContainer" *ngFor="let order of orderList">
    <div class="cardContainer__arriba">

        <div class="cardContainer__arriba__txt">
            <span class="cardContainer__arriba__titu">PEDIDO REALIZADO</span>
            <span>{{ order.dFechaPedido  | date }}</span>
        </div>

        <div class="cardContainer__arriba__txt">
            <span class="cardContainer__arriba__titu">TOTAL</span>
            <span>{{ order.dTotal | currency }}</span>
        </div>

        <div class="cardContainer__arriba__txt">
            <span class="cardContainer__arriba__titu">ENVIAR A</span>
            <span>{{ order.sPersonaRecibe }}</span>
        </div>

        <div class="cardContainer__arriba__txt">
            <span>PEDIDO N.º {{ order.sNoPedido }}</span>
        </div>

    </div>


    <div class="cardContainer__abajo">

        <div class="cardContainer__abajo__txt cardContainer__modifer">
            <span>ENTREGA ESTIMADA DE</span>
            <span>20 AGO - 14 SEP</span>
            <span class="cardContainer__abajo__titu">ENVIADO</span>
        </div>

        <div class="cardContainer__abajo__productosContainer">
            <div class="cardContainer__abajo__productosContainer__list">
                <div class="cardContainer__abajo__txt cardContainer__modifer">

                    <img class="cardContainer__abajo__img" src="../.././../../assets/images/demo/botella1.jpg" alt="">
    
                </div>
    
    
                <div class="cardContainer__abajo__txt">
                    <span class="cardContainer__abajo__titu">PAQUECONVIVAS</span>
                    <span>Vodka Smirnoff Tamarindo 750 ml</span>
                    <span>Vodka Smirnoff Tamarindo 750 ml</span>
                    <span>Vodka Smirnoff Tamarindo 750 ml</span>
                </div>
            </div>


            <div class="cardContainer__abajo__productosContainer__list">
                <div class="cardContainer__abajo__txt cardContainer__modifer">

                    <img class="cardContainer__abajo__img" src="../.././../../assets/images/demo/botella1.jpg" alt="">
    
                </div>
    
    
                <div class="cardContainer__abajo__txt">
                    <span class="cardContainer__abajo__titu">PAQUECONVIVAS</span>
                    <span>Vodka Smirnoff Tamarindo 750 ml</span>
                    <span>Vodka Smirnoff Tamarindo 750 ml</span>
                    <span>Vodka Smirnoff Tamarindo 750 ml</span>
                </div>
            </div>

            <div class="cardContainer__abajo__productosContainer__list">
                <div class="cardContainer__abajo__txt cardContainer__modifer">

                    <img class="cardContainer__abajo__img" src="../.././../../assets/images/demo/botella1.jpg" alt="">
    
                </div>
    
    
                <div class="cardContainer__abajo__txt">
                    <span class="cardContainer__abajo__titu">PAQUECONVIVAS</span>
                    <span>Vodka Smirnoff Tamarindo 750 ml</span>
                    <span>Vodka Smirnoff Tamarindo 750 ml</span>
                    <span>Vodka Smirnoff Tamarindo 750 ml</span>
                </div>
            </div>
            
        </div>



    </div>


    <div class="botonContainer">
        <button mat-raised-button type="button" class="btn-modificar">
            COMPRAR NUEVAMENTE
        </button>
    </div>
</div>