<!-- 
<mat-toolbar class="toolbar-logo">
    <img class="toolbar-logo__img" src="../assets/images/logo-color.png" alt="laveronesaonline.com">
</mat-toolbar>

<mat-toolbar class="toolbar-menu">
    <button class="toolbar-menu__button" mat-button *ngFor="let btn of buttons">{{ btn.name | uppercase }}</button>
</mat-toolbar>
<router-outlet></router-outlet> -->
<mat-drawer-container hasBackdrop="true">
    <mat-drawer #sidenav mode="over">

        <!-- Buttons menu -->
        <div class="menu">
            <button class="btn-close" color="primary" mat-icon-button (click)="Sidenav.close()">
                <mat-icon>close</mat-icon>
            </button>

            <button class="menu__button" color="primary" mat-button *ngFor="let btn of buttons" [routerLink]="[btn.link]" routerLinkActive="router-link-active" (click)="Sidenav.close()">
                {{ btn.name | uppercase }}
            </button>
        </div>    
    </mat-drawer>
    <mat-drawer-content>
    
        <router-outlet></router-outlet>
        
    </mat-drawer-content>
  </mat-drawer-container>
  