
@import '../../theme/global.scss';

.main {
    position: relative;

    // &__btn-box {
    //     width: 100%;
    //     text-align: right;
    // }

    &__btn-close {
        position: absolute;
        top: -9px;
        right: 4px;
        color: $primary;
    }

    &__title {
        text-align: center;
        margin-bottom: 20px;
    }

    &__form {
        text-align: center;
        mat-form-field {
            margin: 8px 0;
        }
    }

    .btn-create {
        border-radius: 50px;
        width: 200px;
    }

}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-label {
    /*change color of label*/
    color: $primary !important;
    font-size: 16px;
    font-weight: 500;
}
