@import "../../../shared/theme/global.scss";

/*
 $primary: #a6212c;
 $secondary: #961520;
 $extra: #bd9954;
*/


.footer__arriba{
    background-color: $secondary;
    display: flex;
    justify-content: flex-end;
    color: #ffffff;
    padding: 2% 5%;


    &__txt{
        width: 15%;
        display: flex;
        justify-content: flex-end;

        & a{
             
        color: #ffffff;
        text-decoration: none;

       }

    }
    
   
}

.footer__arriba img{
    width: 20px;
    height: 20px;

}

.footer__abajo{
    background-color: $primary;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding: 2% 5%;




    &__txt{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        


        &__contenedor{
            width: 150px;
            margin-top: 8%;
            font-size: 14px;
            line-height: 25px;
            display: flex;
            flex-direction: column;

            & img{
                width: 150px;
            }
        }
    }

    &__copy{
        margin: 5% auto;
        font-size: 10px;
    }
}






@media only screen and (max-width: 1000px) {
    

    .footer__arriba{

        &__txt{
    
            width: 20%;
        }
    }



    

}

@media only screen and (max-width: 880px) {
    .footer__abajo-modificador1{
        width: 100% !important;
        align-items: center;
    }
}


@media only screen and (max-width: 750px) {

    .footer__arriba{

        &__txt{
    
            width: 25%;
            font-size: 15px;
        }
    }
}

@media only screen and (max-width: 670px) {

    .footer__abajo{

        &__txt{
    
            &__contenedor{
    
                width: 200px;
            }
        }
    }
    

}


@media only screen and (max-width: 550px) {

    .footer__arriba{

        &__txt{
    
            font-size: 12px;
        }
    }
}


@media only screen and (max-width: 450px) {

    .footer__abajo{

        &__txt{
    
            &__contenedor{
    
                width: 150px;
            }
        }
    }
    

}

@media only screen and (max-width: 470px) {

    .footer__arriba{

        &__txt{
    
            width: 30%;
        }
    }
}


@media only screen and (max-width: 370px) {

    .footer__arriba{

        &__txt{
    
            width: 35%;
            font-size: 10px;

            
        }
    }
}
