<div class="footer__arriba">
    <div class="footer__arriba__txt">
        <span>Síguenos</span>
    </div>
    
    <div class="footer__arriba__txt">
        <a href="#!">
        <img src="../../../../assets/images/png/iconos/fb.png" alt="">
        <span> /La Veronesa</span>
        </a>
    </div>

    <div class="footer__arriba__txt">
        <a href="#!">
        <img src="../../../../assets/images/png/iconos/instagram.png" alt="">
        <span> /La Veronesa</span>
        </a>
    </div>
</div>

<div class="footer__abajo">
    <div class="footer__abajo__txt">
        <div class="footer__abajo__txt__contenedor">
            <img src="../../../../assets/images/logo-blanco.png" alt="">
        </div>
        <div class="footer__abajo__txt__contenedor">
            <span>
                AYUDA E INFORMACIÓN
            </span>
            <span>
                Cobertura
            </span>
            <span>
                ¿Cómo comprar?
            </span>
            <span>
                Políticas de envio
            </span>
            <span>
                Preguntas frecuentes
            </span>

        </div>
        <div class="footer__abajo__txt__contenedor">
            <span>
                CONÓCENOS
            </span>
            <span>
                ¿Quiénes somos?
            </span>
            <span>
                Garantía de la Veronesa
            </span>
            <span>
                Comentarios y sugerencias
            </span>
        </div>
        <div class="footer__abajo__txt__contenedor">
            <span>
                MI PEDIDO
            </span>
            <span>
                Estatus de pedido
            </span>
            <span>
                Solicitar mi factura
            </span>
            <span>
                Formas de pago
            </span>
            <span>
                Reporta tu depósito bancario
            </span>
        </div>
        <div class="footer__abajo__txt__contenedor">
            <span>
                CONTÁCTANOS
            </span>
            <span>
                Contacto: Tel. 53 65 80 88
            </span>
            <span>
                Celular: 55 26 86 62 81
            </span>
        </div>







    </div>


    <div class="footer__abajo__copy">
        <span>Copyright LaVeronesa.com 2020. All rights reserved.</span>
    </div>
</div>