<div class="footer__arriba">
    <div class="footer__arriba__txt">
        <span>Síguenos</span>
    </div>
    
    <div class="footer__arriba__txt">
        <a href="#!">
        <img src="assets/images/png/iconos/fb.png" alt="">
        <span> /Opssim</span>
        </a>
    </div>

    <div class="footer__arriba__txt">
        <a href="#!">
        <img src="assets/images/png/iconos/instagram.png" alt="">
        <span> /Opssim</span>
        </a>
    </div>
</div>

<div class="footer__abajo">
    <div class="footer__abajo__txt">
        <div class="footer__abajo__txt__contenedor footer__abajo-modificador1">
            <img src="assets/images/logo_largo-opssim.png" alt="">
        </div>
        <div class="footer__abajo__txt__contenedor">
            <span>
                INFORMACIÓN
            </span>
            <!-- <span>
                Blog
            </span>
            <span>
                Envios y devoluciones
            </span> -->
            <span>
                Condiciones de uso 
            </span>
            <span>
                Nosotros
            </span>

        </div>
        <div class="footer__abajo__txt__contenedor">
            <span>
                MI CUENTA
            </span>
            <span>
                Mi cuenta
            </span>
            <span>
                Pedidos
            </span>
            <span>
                Carrito de compra
            </span>
            <!-- <span>
                Lista de deseos
            </span> -->
        </div>
        <div class="footer__abajo__txt__contenedor">
            <span>
                CONTÁCTANOS
            </span>
            <!-- <span>
                Mapa del sitio
            </span> -->
            <span>
                Contáctenos 
            </span>
        </div>

    </div>


    <div class="footer__abajo__copy">
        <span>Copyright opssim.com 2020. All rights reserved.</span>
    </div>
</div>