 <!-- MIO -->


 <div class="contenedorPrincipal">
    <div class="contenedorBlog">
        <div class="side-2">
            <div class="block block-blog-archive">
                <div class="title"><strong>Archivo del blog</strong></div>
                <div class="listbox">
                    <ul id="blog-month-list" class="list">
                        <li class="year"><strong class="number">2020</strong>
                            <ul id="blog-year-2020" class="sublist">
                                <li class="month"><a href="#!">mayo (1)</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="contenedorInfor">
        <h1 class="contenedorInfor__titulo">
            ¿Por qué proteger los ojos para prevenir el contagio del COVID-19?
        </h1>
        <span class="contenedorInfor__fecha">
            lunes, 4 de mayo de 2020
        </span>
        <span class="contenedorInfor__subtitulo">
            ¿Por qué proteger los ojos para prevenir el contagio del COVID-19?

        </span>
        <span class="contenedorInfor__texto">
            <p>
                Nuestros ojos desempeñan un papel importante en la propagación y prevención de este nuevo virus que
                afecta a todo el mundo.
            </p>
            <p>
                Si bien existen síntomas identificados que podrían señalar la presencia de la enfermedad Covid-19,
                como tos seca, dolor de cabeza y fiebre, pero existen otros malestares que también están
                relacionados con este virus.


            </p>
        </span>
        <div class="contenedorInfor__imagen">
            <img src="../../../../assets/images/tips/covid1.jpeg" alt="">
        </div>

        <span class="contenedorInfor__texto">
            <p>
                La Organización Mundial de la Salud (OMS) ha advertido que la transmisión principal se realiza a
                través de las gotitas que las personas portadoras expectoran al toser y que permanecen flotando en
                el aire o bien quedan en superficies por determinado tiempo. Si una persona sana las inspira o bien
                toca una superficie en la que el virus está presente y luego se lleva las manos a la nariz, la boca
                o los ojos se produce el contagio.
            </p>
            <p>
                Según la Sociedad de Oftalmología Americana, la conjuntivitis leve se suma a la larga lista de
                síntomas que produce el coronavirus, caracterizada por ojos rojos, lagrimeo e irritación ocular, ya
                que puede estar presente en la mucosa ocular y no sólo en las secreciones respiratorias.

            </p>
            <p>
                Los oftalmólogos del Centro de Oftalmología Barraquer advierten que mientras la población ya se le
                ha generalizado el uso de guantes y mascarillas para evitar los contagios del COVID-19, los ojos
                siguen siendo un punto de contacto sin protección en muchas ocasiones. Por lo tanto, el doctor Juan
                Álvarez de Toledo, oftalmólogo y subdirector médico, recuerda las medidas que debemos tomar a nivel
                ocular: “Debemos en todo momento usar gafas de protección si salimos a comprar al supermercado, que
                protejan bien y cubran en lo posible frente a una exposición”, explica.
            </p>
            <p>
                Esta conjuntivitis no tiene un tratamiento específico por lo que no debe ser medicada excepto con
                lavados frecuentes con suero fisiológico”, recuerda el doctor Álvarez de Toledo.
            </p>
        </span>



        <span class="contenedorInfor__subtitulo">
            RECOMENDACIONES
        </span>

        <span class="contenedorInfor__texto">
            <ol>
                <li><b> Usa lentes.</b> Se recomiendan lentes tipo goggles porque se garantizaría que no haya
                    exposición alguna al virus.</li>
                <li><b> Evita tocar tus ojos.</b> Si traemos el virus en las manos por haber entrado en contacto con
                    alguna superficie contaminada y nos llevamos las manos a los ojos, podría producirse la
                    contaminación.
                </li>
                <li>En caso de tocarnos inadvertidamente los ojos es conveniente realizar un buen <b> lavado con
                        suero fisiológico o lágrimas artificiales </b> para intentar eliminar en lo posible la
                    presencia de virus.
                </li>


            </ol>
        </span>

        <div class="contenedorInfor__imagen">
            <img src="../../../../assets/images/tips/covid2.jpeg" alt="">
        </div>

        <span class="contenedorInfor__texto">

            <p>
                Todas estas medidas encaminadas a la autoprotección y a evitar la exposición al virus son hoy en día
                absolutamente necesarias para que, entre todos, contengamos la propagación de esta terrible
                enfermedad. Y el cuidado de los ojos, siendo una posible puerta de entrada, obliga a tomar las
                máximas precauciones de higiene y protección ocular.
            </p>
        </span>





        <div class="contenedorComens">

            <h1 class="contenedorInfor__titulo">
                Deje su comentario
            </h1>
            <textarea
                    class="enter-comment-text" id="AddNewComment_CommentText"
                    name="AddNewComment.CommentText">
            </textarea> 



            <div class="captcha-box">
                    <script type="text/javascript" async=""
                        src="https://www.gstatic.com/recaptcha/releases/4lbq4vBYAu25DMtzZ7GGbfAF/recaptcha__es.js"
                        crossorigin="anonymous"
                        integrity="sha384-ihZ8DjKw6R9I7EvuzAc68I0rtwG/tsFHGs5Fq3cKD4Addx6WRrwQIsY4hWU8yJHq"></script>
                    <script>
                    var onloadCallbackcaptcha_553339895 = function () {
                         grecaptcha.render("captcha_553339895", { sitekey: "6LeHRMcUAAAAAD-ccEeViU7lvM37lO-jB5y_ese7", theme: "light" }) 
                         }
                    </script>
                    <div id="captcha_553339895">
                        <div style="width: 304px; height: 78px;">
                            <div><iframe
                                    src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LeHRMcUAAAAAD-ccEeViU7lvM37lO-jB5y_ese7&amp;co=aHR0cHM6Ly9vcHNzaW0uY29tOjQ0Mw..&amp;hl=es&amp;v=4lbq4vBYAu25DMtzZ7GGbfAF&amp;theme=light&amp;size=normal&amp;cb=m6kcuv6bqdlm"
                                    width="304" height="78" role="presentation" name="a-sizj1npqb8ag"
                                    frameborder="0" scrolling="no"
                                    sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                            </div><textarea id="g-recaptcha-response" name="g-recaptcha-response"
                                class="g-recaptcha-response"
                                style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                        </div><iframe style="display: none;"></iframe>
                    </div>
                    <script async="" defer=""
                        src="https://www.google.com/recaptcha/api.js?onload=onloadCallbackcaptcha_553339895&amp;render=explicit&amp;hl=es"></script>
            </div>

            <input type="submit" name="add-comment" class="button-1 blog-post-add-comment-button"   value="Nuevo comentario">

        </div>


    </div>







</div>
