@import "./app/shared/theme/global.scss";

$custom-collection: (
  warning: #ffc116,
  success: #0a630f,
  danger: #c00000,
  primary: $primary,
  extra: $extra,
  contrast: (
    warning: #fff,
    success: #ffffff,
    danger: #ffffff,
    primary: #000000,
    extra: #000000,
  ),
);
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$opssim-primary: mat-palette($custom-collection, primary);
$opssim-accent: mat-palette($custom-collection, extra);

// The warn palette is optional (defaults to red).
$opssim-warn: mat-palette($custom-collection, warning);

// Create the theme object (a Sass map containing all of the palettes).
$opssim-theme: mat-light-theme(
  $opssim-primary,
  $opssim-accent,
  $opssim-warn
);

@mixin mix-app-theme($opssim-theme) {
  $primary: map-get($opssim-theme, primary);
  $accent: map-get($opssim-theme, accent);

  .mat-button-toggle {
    background-color: #ccc;
    color: #222;
  }
  
  .mat-button-toggle-checked {
    background-color: mat-color($primary) !important;
    color: mat-color($primary, default-contrast) !important;
  }
}

// Include the mixin
@include mix-app-theme($opssim-theme);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($opssim-theme);

/* You can add global styles to this file, and also import other style files */


// Owl carousel
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

// **************** //
// Global
// **************** //

// Fonts
// @font-face {
//   font-family: 'Snubnose';
//   src: url("./assets/font/snubnose.otf") format("opentype");
// }
@font-face {
  font-family: 'Alone';
  font-weight: normal;
  src: url("./assets/font/AloneOnEarth.otf") format("opentype");
}



// @font-face {
//   font-family: GraublauWeb;
//   src: url("path/GraublauWeb.otf") format("opentype");
// }

// @font-face {
//   font-family: GraublauWeb;
//   font-weight: bold;
//   src: url("path/GraublauWebBold.otf") format("opentype");
// }


* {
    font-family: 'Montserrat', 'Gotham', Arial;
}

button, input, img, a {
  &:focus {
    outline: none;
  }
}

mat-form-field {
  width: 100%;
}

// Texto color primario
.text-color {
  color: $primary;
}
